<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD8rFvm2dV1Mk74SjpOFda4ERN0-sziuc</string>
	<key>GCM_SENDER_ID</key>
	<string>321532993673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.toklink.trunk</string>
	<key>PROJECT_ID</key>
	<string>toklink-3e197</string>
	<key>STORAGE_BUCKET</key>
	<string>toklink-3e197.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321532993673:ios:01e241eb6d3486f9d02658</string>
</dict>
</plist>