<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>3CUCH9D3BV</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>io.toklink.trunk</key>
        <string>43786434-da28-4e9f-bb7c-5772d08a78cd</string>
        <key>io.toklink.trunk.NotificationService</key>
        <string>568c4918-d1bd-4725-a1c7-9fef9ed367d1</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
</dict>
</plist>

